name: License Check & Update

on:
  push:
    paths:
      - package.json
      - package-lock.json
      - pnpm-lock.yaml
      - yarn.lock
      - LICENSE
  workflow_dispatch:

permissions:
  contents: write

jobs:
  license-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Generate licenses.json
        run: npx license-checker --json > licenses.json

      - name: Check project & dependency licenses
        run: node _script/check-licenses.mjs

      - name: Generate THIRD-PARTY-LICENSES.md
        run: |
          npx license-checker \
            --production \
            --relativeLicensePath \
            --markdown \
            > THIRD-PARTY-LICENSES.md

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add THIRD-PARTY-LICENSES.md licenses.json
          git commit -m "chore: update third-party licenses" || echo "No changes"
          git push
